
BaseProject/.cproject
BaseProject/.project
BaseProject/.settings/language.settings.xml
BaseProject/.settings/org.eclipse.cdt.codan.core.prefs
BaseProject/BaseProject Debug.launch
BaseProject/cmsis/arm_common_tables.h
BaseProject/cmsis/arm_math.h
BaseProject/cmsis/core_cm4.h
BaseProject/cmsis/core_cm4_simd.h
BaseProject/cmsis/core_cmFunc.h
BaseProject/cmsis/core_cmInstr.h
BaseProject/Debug/BaseProject.elf
BaseProject/Debug/BaseProject.list
BaseProject/Debug/BaseProject.map
BaseProject/Debug/makefile
BaseProject/Debug/objects.list
BaseProject/Debug/objects.mk
BaseProject/Debug/sources.mk
BaseProject/Debug/SPL/src/stm32f30x_adc.d
BaseProject/Debug/SPL/src/stm32f30x_adc.o
BaseProject/Debug/SPL/src/stm32f30x_adc.su
BaseProject/Debug/SPL/src/stm32f30x_can.d
BaseProject/Debug/SPL/src/stm32f30x_can.o
BaseProject/Debug/SPL/src/stm32f30x_can.su
BaseProject/Debug/SPL/src/stm32f30x_comp.d
BaseProject/Debug/SPL/src/stm32f30x_comp.o
BaseProject/Debug/SPL/src/stm32f30x_comp.su
BaseProject/Debug/SPL/src/stm32f30x_crc.d
BaseProject/Debug/SPL/src/stm32f30x_crc.o
BaseProject/Debug/SPL/src/stm32f30x_crc.su
BaseProject/Debug/SPL/src/stm32f30x_dac.d
BaseProject/Debug/SPL/src/stm32f30x_dac.o
BaseProject/Debug/SPL/src/stm32f30x_dac.su
BaseProject/Debug/SPL/src/stm32f30x_dbgmcu.d
BaseProject/Debug/SPL/src/stm32f30x_dbgmcu.o
BaseProject/Debug/SPL/src/stm32f30x_dbgmcu.su
BaseProject/Debug/SPL/src/stm32f30x_dma.d
BaseProject/Debug/SPL/src/stm32f30x_dma.o
BaseProject/Debug/SPL/src/stm32f30x_dma.su
BaseProject/Debug/SPL/src/stm32f30x_exti.d
BaseProject/Debug/SPL/src/stm32f30x_exti.o
BaseProject/Debug/SPL/src/stm32f30x_exti.su
BaseProject/Debug/SPL/src/stm32f30x_flash.d
BaseProject/Debug/SPL/src/stm32f30x_flash.o
BaseProject/Debug/SPL/src/stm32f30x_flash.su
BaseProject/Debug/SPL/src/stm32f30x_gpio.d
BaseProject/Debug/SPL/src/stm32f30x_gpio.o
BaseProject/Debug/SPL/src/stm32f30x_gpio.su
BaseProject/Debug/SPL/src/stm32f30x_i2c.d
BaseProject/Debug/SPL/src/stm32f30x_i2c.o
BaseProject/Debug/SPL/src/stm32f30x_i2c.su
BaseProject/Debug/SPL/src/stm32f30x_iwdg.d
BaseProject/Debug/SPL/src/stm32f30x_iwdg.o
BaseProject/Debug/SPL/src/stm32f30x_iwdg.su
BaseProject/Debug/SPL/src/stm32f30x_misc.d
BaseProject/Debug/SPL/src/stm32f30x_misc.o
BaseProject/Debug/SPL/src/stm32f30x_misc.su
BaseProject/Debug/SPL/src/stm32f30x_opamp.d
BaseProject/Debug/SPL/src/stm32f30x_opamp.o
BaseProject/Debug/SPL/src/stm32f30x_opamp.su
BaseProject/Debug/SPL/src/stm32f30x_pwr.d
BaseProject/Debug/SPL/src/stm32f30x_pwr.o
BaseProject/Debug/SPL/src/stm32f30x_pwr.su
BaseProject/Debug/SPL/src/stm32f30x_rcc.d
BaseProject/Debug/SPL/src/stm32f30x_rcc.o
BaseProject/Debug/SPL/src/stm32f30x_rcc.su
BaseProject/Debug/SPL/src/stm32f30x_rtc.d
BaseProject/Debug/SPL/src/stm32f30x_rtc.o
BaseProject/Debug/SPL/src/stm32f30x_rtc.su
BaseProject/Debug/SPL/src/stm32f30x_spi.d
BaseProject/Debug/SPL/src/stm32f30x_spi.o
BaseProject/Debug/SPL/src/stm32f30x_spi.su
BaseProject/Debug/SPL/src/stm32f30x_syscfg.d
BaseProject/Debug/SPL/src/stm32f30x_syscfg.o
BaseProject/Debug/SPL/src/stm32f30x_syscfg.su
BaseProject/Debug/SPL/src/stm32f30x_tim.d
BaseProject/Debug/SPL/src/stm32f30x_tim.o
BaseProject/Debug/SPL/src/stm32f30x_tim.su
BaseProject/Debug/SPL/src/stm32f30x_usart.d
BaseProject/Debug/SPL/src/stm32f30x_usart.o
BaseProject/Debug/SPL/src/stm32f30x_usart.su
BaseProject/Debug/SPL/src/stm32f30x_wwdg.d
BaseProject/Debug/SPL/src/stm32f30x_wwdg.o
BaseProject/Debug/SPL/src/stm32f30x_wwdg.su
BaseProject/Debug/SPL/src/subdir.mk
BaseProject/Debug/Src/30010_io.d
BaseProject/Debug/Src/30010_io.o
BaseProject/Debug/Src/30010_io.su
BaseProject/Debug/Src/ansi.d
BaseProject/Debug/Src/ansi.o
BaseProject/Debug/Src/ansi.su
BaseProject/Debug/Src/charset.d
BaseProject/Debug/Src/charset.o
BaseProject/Debug/Src/charset.su
BaseProject/Debug/Src/Exercises.d
BaseProject/Debug/Src/Exercises.o
BaseProject/Debug/Src/Exercises.su
BaseProject/Debug/Src/main.d
BaseProject/Debug/Src/main.o
BaseProject/Debug/Src/main.su
BaseProject/Debug/Src/menu.d
BaseProject/Debug/Src/menu.o
BaseProject/Debug/Src/menu.su
BaseProject/Debug/Src/random.d
BaseProject/Debug/Src/random.o
BaseProject/Debug/Src/random.su
BaseProject/Debug/Src/sin.d
BaseProject/Debug/Src/sin.o
BaseProject/Debug/Src/sin.su
BaseProject/Debug/Src/subdir.mk
BaseProject/Debug/Src/syscalls.d
BaseProject/Debug/Src/syscalls.o
BaseProject/Debug/Src/syscalls.su
BaseProject/Debug/Src/sysmem.d
BaseProject/Debug/Src/sysmem.o
BaseProject/Debug/Src/sysmem.su
BaseProject/Debug/Src/system_stm32f30x.d
BaseProject/Debug/Src/system_stm32f30x.o
BaseProject/Debug/Src/system_stm32f30x.su
BaseProject/Debug/Src/visuals.d
BaseProject/Debug/Src/visuals.o
BaseProject/Debug/Src/visuals.su
BaseProject/Debug/Startup/startup_stm32f302r8tx.d
BaseProject/Debug/Startup/startup_stm32f302r8tx.o
BaseProject/Debug/Startup/subdir.mk
BaseProject/SPL/inc/stm32f30x_adc.h
BaseProject/SPL/inc/stm32f30x_can.h
BaseProject/SPL/inc/stm32f30x_comp.h
BaseProject/SPL/inc/stm32f30x_crc.h
BaseProject/SPL/inc/stm32f30x_dac.h
BaseProject/SPL/inc/stm32f30x_dbgmcu.h
BaseProject/SPL/inc/stm32f30x_dma.h
BaseProject/SPL/inc/stm32f30x_exti.h
BaseProject/SPL/inc/stm32f30x_flash.h
BaseProject/SPL/inc/stm32f30x_gpio.h
BaseProject/SPL/inc/stm32f30x_i2c.h
BaseProject/SPL/inc/stm32f30x_iwdg.h
BaseProject/SPL/inc/stm32f30x_misc.h
BaseProject/SPL/inc/stm32f30x_opamp.h
BaseProject/SPL/inc/stm32f30x_pwr.h
BaseProject/SPL/inc/stm32f30x_rcc.h
BaseProject/SPL/inc/stm32f30x_rtc.h
BaseProject/SPL/inc/stm32f30x_spi.h
BaseProject/SPL/inc/stm32f30x_syscfg.h
BaseProject/SPL/inc/stm32f30x_tim.h
BaseProject/SPL/inc/stm32f30x_usart.h
BaseProject/SPL/inc/stm32f30x_wwdg.h
BaseProject/SPL/src/stm32f30x_adc.c
BaseProject/SPL/src/stm32f30x_can.c
BaseProject/SPL/src/stm32f30x_comp.c
BaseProject/SPL/src/stm32f30x_crc.c
BaseProject/SPL/src/stm32f30x_dac.c
BaseProject/SPL/src/stm32f30x_dbgmcu.c
BaseProject/SPL/src/stm32f30x_dma.c
BaseProject/SPL/src/stm32f30x_exti.c
BaseProject/SPL/src/stm32f30x_flash.c
BaseProject/SPL/src/stm32f30x_gpio.c
BaseProject/SPL/src/stm32f30x_i2c.c
BaseProject/SPL/src/stm32f30x_iwdg.c
BaseProject/SPL/src/stm32f30x_misc.c
BaseProject/SPL/src/stm32f30x_opamp.c
BaseProject/SPL/src/stm32f30x_pwr.c
BaseProject/SPL/src/stm32f30x_rcc.c
BaseProject/SPL/src/stm32f30x_rtc.c
BaseProject/SPL/src/stm32f30x_spi.c
BaseProject/SPL/src/stm32f30x_syscfg.c
BaseProject/SPL/src/stm32f30x_tim.c
BaseProject/SPL/src/stm32f30x_usart.c
BaseProject/SPL/src/stm32f30x_wwdg.c
BaseProject/Startup/startup_stm32f302r8tx.s
BaseProject/STM32F302R8TX_FLASH.ld
BaseProject/Test2 Debug.launch
.metadata/.ide.log
.metadata/.lock
.metadata/.log
.metadata/.log4j.xml
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.1.0.202202250925
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/BaseProject.1655199976628.pdom
.metadata/.plugins/org.eclipse.cdt.core/BaseProject.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/Exercise5.1655201191014.pdom
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.core.resources/.projects/BaseProject/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BaseProject/.location
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-BaseProject.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
BaseProject/.metadata/.ide.log
BaseProject/.metadata/.lock
BaseProject/.metadata/.log
BaseProject/.metadata/.log4j.xml
BaseProject/.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.1.0.202202250925
BaseProject/.metadata/.plugins/org.eclipse.cdt.core/.log
BaseProject/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
BaseProject/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
BaseProject/.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
BaseProject/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
BaseProject/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
BaseProject/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
BaseProject/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
BaseProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
BaseProject/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BaseProject/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
BaseProject/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
BaseProject/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
BaseProject/.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.history/32/f0056e43d8eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/36/807bc450d8eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/90/d0c4e62bd8eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/dd/30d2903cd8eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.projects/BaseProject/.indexes/be/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BaseProject/.indexes/c4/history.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.projects/BaseProject/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/BaseProject/.syncinfo.snap
BaseProject/Debug/Src/Initialization.su
BaseProject/Debug/Src/Initialization.o
BaseProject/Debug/Src/Initialization.d
BaseProject/Debug/Src/Movement.su
BaseProject/Debug/Src/Movement.o
BaseProject/Debug/Src/Movement.d
BaseProject/Debug/Src/Initialization.su
BaseProject/Debug/Src/Initialization.o
BaseProject/Debug/Src/Initialization.d
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Exercise6.prefs
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise6/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise6/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise6/.indexes/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise5/.indexes/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BaseProject/.indexes/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.history/f5/80a0da09dfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/eb/10c7e4d5deeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/e7/70bad374dfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/e4/d01298d0e8eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/e1/2088ed3beaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/da/900f698be1eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/d9/604b470ae7eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/d8/806e4333e8eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/d5/60668f26dbeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/d3/a07e5f7fdceb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/d1/c0760024deeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/d/40f263cddaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/d/1074ba07e9eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/ce/80a07a72e5eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/cd/100d9c07ddeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/cb/80c87f9bdfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/c7/9035603ae3eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/c6/d049be78d9eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/c2/d0389ef1e1eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/c0/b07ddaacdeeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/c/701d825ad9eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/bf/40fe28f1e0eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/bd/20da3432e7eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/bb/d0c8f5fd8dec001c124eab834b5fb5b1
.metadata/.plugins/org.eclipse.core.resources/.history/ba/808cc302e9eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/b8/e0fcf666eaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/b7/40ac535fe5eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/b7/40762172e0eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/b5/b0fbbedadaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/b2/b02aabf4e1eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/af/b04a5aeedceb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/ae/4086c6e6deeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/ab/604141e1deeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/ab/1034dea6deeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/a6/a07112d7deeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/a6/8016891ae6eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/a5/809bcd8edaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/a1/4004cae2deeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/a/a056311ee9eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/9c/80a9682fe1eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/99/102db137e1eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/91/00e58305e9eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/90/60d3a410ddeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/9/706db421eaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/8e/c00bc6bedeeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/8d/0070e02ae6eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/89/603e0e6be0eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/88/f0c5cd42e6eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/86/303d39d1daeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/80/d08300478eec001c124eab834b5fb5b1
.metadata/.plugins/org.eclipse.core.resources/.history/80/4083f700e2eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/78/2035ade3daeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/74/401262ecdeeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/72/b0cdac01dbeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/7/d0dcd474e8eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/6a/30c90a98e3eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/62/60a0cc95e0eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/61/7079babbdeeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/5f/9072f5b1dfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/5f/30718b31dbeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/5e/e0a8cb08dceb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/5e/701c56c7daeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/5d/10f0ebf7dceb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/5c/c06e01c0daeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/57/90cfddf98dec001c124eab834b5fb5b1
.metadata/.plugins/org.eclipse.core.resources/.history/56/80426841e6eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/52/50c698c3daeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/4c/905046fbdaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/4a/80a8a170eaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/48/0055200be1eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/46/60fbd7aedeeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/44/e08440a0dfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/43/e01e256cdbeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/43/a0889e5ae5eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/40/9005e44fe3eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/3f/10141505ddeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/39/507319b9dfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/37/b0070164e5eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/33/20432008dbeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/32/206e837eeaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/31/e0c85f62e7eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/31/20a0a69ddfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/2e/d0df9315eaeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/2e/20ef5c15dbeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/2d/d02a3428ddeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/2c/20ac820edceb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/2a/60c0ca61ddeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/28/b012560cddeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/24/f0f49877dfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/24/205c099ce5eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/23/10cd96a3e5eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/1d/30f46e59e3eb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/18/e091defcdceb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/16/c08ec468dbeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/16/a0059ffbdfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.core.resources/.history/13/20534ed4dfeb001c1ee6d254d1d0f1e4
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/BaseProject.build.log
.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.core/Exercise6.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/Exercise6.1655209021293.pdom
.metadata/.plugins/org.eclipse.cdt.core/BaseProject.1655285439202.pdom
